{% extends 'VFA_Pet/PlantillaMenu.html' %}
{% load static %}


{% block cuerpo %}
    <div class="container">
        <div class="row">
        
            <div class="col-12 titulos" style="margin-top: 30px;">
                <p>Collar para Mascota</p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4 ">
                <img class="tam_img_prod_interior" src="img/Collar1.png" alt="sin imagen">
            </div>
            <div class="col-md-4">
                <h1>$3500 CLP</h1>
                <h6>Stock: 10</h6>
                <h5>Talla:<h5>
                <select name="id_pregunta">
                    <option value="S">...</option>
                    <option value="S">S</option>
                    <option value="1">M</option>
                    <option value="2">L</option>
                </select>
                <br><br>
                <input  type="number" max="100" min="1">
                <br><br>
                <input type="button" value="Añadir al carro" class="btn buttom" >
            </div>
            <div class="col-md-2"></div>
            
            <div class="col-md-6 letra_descripcion">
                <p>Descripcion: <br><br> Collar para mascota de 
                    cuero sintetico y medalla de acero inoxidable.
                </p>
            </div>
            <div class="col-md-6">

            </div>
         </div>

    </div>


















    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

{% endblock cuerpo %}